@media (max-width: 600px){
    .hero {
        min-height: 80vh;
    }
    .hero-bg {
        background-position: center;
    }

    .portfolios .portfolio-item {
        width: calc(50% - 10px);
    }

    .name {
        font-size: 3.9vw;
    }
}